<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="pizza_chatbot"
  agent-id="f10e6820-8df8-4441-a6f2-ba3c100010a7"
  language-code="ko"
></df-messenger>

<style>
  df-messenger {
   --df-messenger-bot-message: #ED7D2B;
   --df-messenger-button-titlebar-color: #C2BE88;
   --df-messenger-chat-background-color: #3AD66E;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #347DED;
   --df-messenger-user-message: #DA91E6;
  }
</style>

</body>
</html>